In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#import de la bd

df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [20]:
#Traitement des donn√©es

id = df[df["gender"] == "Other"].index
df = df.drop(id)

Index([], dtype='int64')

In [21]:


strokes_age = df[["stroke", "age"]]
strokes_age = strokes_age[strokes_age["stroke"] == 1]

age = [i for i in range(0,110)]
nb_strokes = [0]*len(age)
for i in range(len(age)):
    nb_strokes[i] = strokes_age[strokes_age["age"] == age[i]].value_counts()

nb_strokes

[Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 stroke  age
 1       14.0    1
 Name: count, dtype: int64,
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 stroke  age
 1       32.0    1
 Name: count, dtype: int64,
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 stroke  age
 1       38.0    2
 Name: count, dtype: int64,
 stroke  age
 1       39.0    3
 Name: count, dtype: int64,
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 stroke  age
 1       42.0    1
 Name: count, dtype: int64,
 stroke  age
 1       43.0    1
 Name: count, dtype: int64,
 Series([], Name: count, dtype: int64),
 stroke  age
 1       45.0    3
 Name: count, dtype: int64,
 stroke  age
 1       46.0    1
 Name: count, dtype: int64,
 stroke  age
 1       47.0    1
 Name: count, dtype: int64,
 stroke  age
 1       48.0    2
 Name: count, dtype: int64,
 stroke  age
 1       49.0    3
 Name: count, dtype: int64,
 stroke  age
 1       50.0    3
 Name: count, dtype: int64,
 stroke  age
 1       51.0    4
 Name: count, dtype: int64,
 stroke  age
 1       52.0    2
 Name: count, dtype: int64,
 stroke  age
 1       53.0    2
 Name: count, dtype: int64,
 stroke  age
 1       54.0    6
 Name: count, dtype: int64,
 stroke  age
 1       55.0    2
 Name: count, dtype: int64,
 stroke  age
 1       56.0    3
 Name: count, dtype: int64,
 stroke  age
 1       57.0    11
 Name: count, dtype: int64,
 stroke  age
 1       58.0    7
 Name: count, dtype: int64,
 stroke  age
 1       59.0    8
 Name: count, dtype: int64,
 stroke  age
 1       60.0    4
 Name: count, dtype: int64,
 stroke  age
 1       61.0    6
 Name: count, dtype: int64,
 Series([], Name: count, dtype: int64),
 stroke  age
 1       63.0    9
 Name: count, dtype: int64,
 stroke  age
 1       64.0    3
 Name: count, dtype: int64,
 stroke  age
 1       65.0    3
 Name: count, dtype: int64,
 stroke  age
 1       66.0    4
 Name: count, dtype: int64,
 stroke  age
 1       67.0    3
 Name: count, dtype: int64,
 stroke  age
 1       68.0    9
 Name: count, dtype: int64,
 stroke  age
 1       69.0    6
 Name: count, dtype: int64,
 stroke  age
 1       70.0    6
 Name: count, dtype: int64,
 stroke  age
 1       71.0    7
 Name: count, dtype: int64,
 stroke  age
 1       72.0    6
 Name: count, dtype: int64,
 stroke  age
 1       73.0    4
 Name: count, dtype: int64,
 stroke  age
 1       74.0    9
 Name: count, dtype: int64,
 stroke  age
 1       75.0    6
 Name: count, dtype: int64,
 stroke  age
 1       76.0    10
 Name: count, dtype: int64,
 stroke  age
 1       77.0    8
 Name: count, dtype: int64,
 stroke  age
 1       78.0    21
 Name: count, dtype: int64,
 stroke  age
 1       79.0    17
 Name: count, dtype: int64,
 stroke  age
 1       80.0    17
 Name: count, dtype: int64,
 stroke  age
 1       81.0    14
 Name: count, dtype: int64,
 stroke  age
 1       82.0    9
 Name: count, dtype: int64,
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64),
 Series([], Name: count, dtype: int64)]